<% provide(:title, @user.name) %>
      <h1>
        <%= @user.name %>'s events
      </h1>

<h3>Events(<%= @events.count %>) created by <%=@user.name%></h3>
<ul class="attendances">
  <%= render @events %>
</ul>

