<% provide(:title, 'Events') %>
<h1>All Events</h1>
<h2>Upcoming events</h2>
<ul class="events">
  <%= render @upcoming_events %>
</ul>
<h2>Past events</h2>
<ul class="events">
  <%= render @past_events %>
</ul>

